.glbCompare{
    margin-block-start: 4rem;
    height: 70vh;
}

.webcamCompare{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 4rem;
}

#back-button{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.phone-title{
    position: absolute;
    align-self: center;
    left: 5rem;
    top: 1.1rem
}

.coinSelection{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
}

#coin{
    width: 4rem;
    margin: .5rem;
}

.infoTextCoin{
    background-color: white;
    position: relative;
    color: black;
    margin: 2rem;
    font-weight: 400;
    border-radius: .5rem;
    padding: .3rem;
}