.quizContainer {
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    color: black;
}

#back-arrow{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 2.2rem;
}

#question-text{
    color: black;
    font-weight: 500;
    margin: 1rem;
    font-size: 1.4rem;
    position: relative;
    font-size: 1.3rem;
    top: 2rem;
}

.product-list {
    overflow-y: scroll;
    height: 50vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.product {
    background-color: black;
    border: solid;
    border-radius: 1rem;
    color: white;
    margin: .5rem;
}

#product-info{
    display: flex;
    flex-direction: column;
    width: 50vh;
    text-align: left;
}

#product-arrow{
    width: 30vh;
}

#product-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin: .1rem;
}

#product-brand {
    font-size: .8rem;
    font-weight: 400;
    margin: .1rem;
}

#product-price {
    font-size: .9rem;
    font-weight: 600;
    margin: .1rem;
}



#progress-bar {
    background-color: #47CA3C;
    transition: 0.5s ease-in-out;
    height: .2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -2rem;
}


#btn-container {
    position: absolute;
    bottom: 1rem;
    align-items: center;
    width: 100%;
    background-color: white;
}