.loading {
    position: relative;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    /* Centralize horizontalmente */
    align-items: center;
    /* Centralize verticalmente */
    height: 50%;
}

.loadContainer{
    margin-top: 10rem;
}