.nav {
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #01373E;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

li {
  list-style-type: none;
  margin: 1rem;
}

li a {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  color: #ECEAE3;
  font-weight: bold;
}