.option{
    background-color: #0a516d;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
    color: #f9fad2;
}

.option:hover{
    background-color: #7dad93;
    color: #2b2726;
    font-weight: bold;
}

.selected{
    background-color: #7dad93;
    color: #2b2726;
    font-weight: bold;
}
