.option{
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;  
    color: black;
    border-color: black;
    border: solid .12rem;
    font-weight: 500;
    min-width: 80%;
}

.selected{
    background-color: #47CA3C;
    color: white;
    font-weight: bold;
    border: none;
}
