.option{
    background-color: #111111;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;  
    color: #F0ECEE;
}

.option:hover{
    background-color: #5DE1FF;
    color: #111111;
    font-weight: bold;
}

.selected{
    background-color: #5DE1FF;
    color: #111111;
    font-weight: bold;
}
