.productContainer{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    color: black;
    overflow-y: scroll;
}

.phone-name{
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}

.model{
    width: 100%;
    height: 20vh;
    margin-top: -30rem;
}

#expand{
    position: absolute;
    right: 1rem;
    bottom: 30vh;
}

.productSpecs{
    background-color: #E6E6E6;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
    text-align: left;
}

.key{
    font-weight: bold;
    font-size: 1.3rem;
}

.value{
    font-size: 1.1rem;
}

ul{
    flex-direction: column; /* Organiza os elementos em linha (horizontal) */
    text-align: left;
}

li{
    align-self: baseline;
    margin-left: -2.5rem;
    margin-top: .2rem;
    margin-bottom: .2rem
}

.key, .value{
    margin-top: 1rem;
    align-self: left;
}
