.quizContainer {
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}

#back-arrow {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 2.2rem;
}

#question-container {
    background-color: #E6E6E6;
    height: 30%;
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 5%;
    position: relative;
}


#question-index {
    color: #3F3F3F;
    font-weight: 400;
    margin: 1rem;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}


#question-text {
    color: black;
    font-weight: 500;
    margin: 1rem;
    font-size: 1.4rem;
    position: relative;
    font-size: 1.3rem;
    top: 2rem;
}

#progress-bar {
    background-color: #47CA3C;
    transition: 0.5s ease-in-out;
    height: .2rem;
    position: absolute;
    bottom: 0;
    margin-left: -2rem;
}

#options-container {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#options{
    width: 100vh;
}

#btn-container {
    position: absolute;
    bottom: 2rem;
    align-items: center;
    width: 100%;
}

#btnDeactivated {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .8rem 1.5rem;
    background-color: #a0a0a0;
    border-radius: .8rem;
    border: solid;
    border-color: white;
    transition: 0.4s;
    color: white;
    width: 80%;
}