* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body,
html {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #000E22;
    color: #ffffff;
}

img {
    max-width: 100%;
}

input {
    padding: .5rem;
    border-radius: .3rem;
    border-color: #ECEAE3;
    border-style: solid;
    background-color: transparent;
    width: 70%;
}

.btnPrimary {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .8rem 1.5rem;
    background-color: #000E22;
    border-radius: .8rem;
    border: solid;
    border-color: white;
    transition: 0.4s;
    color: white;
    width: 80%;
}

.btnSecondary {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .8rem 1.5rem;
    background-color: white;
    border-radius: .8rem;
    border: solid;
    border-color: #ffffff;
    transition: 0.4s;
    color: #000E22;
    width: 80%;
}

.btnPrimary:hover {
    background-color: #ffffff;
    color: #000E22;
}

.btnSecondary:hover {
    background-color: #000E22;
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}