*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body,
html{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #ECEAE3;
    color: #111111;

}

img{
    max-width: 100%;
}

input{
    padding: .5rem;
    border-radius: .3rem;
    border-color: #ECEAE3;
    border-style: solid;
    background-color: transparent;
    width: 70%;
}

button{
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .8rem 1.5rem;
    background-color: #01373E;
    border-radius: .8rem;
    border: none;
    transition: 0.4s;
    color: #eceae3;
}

button:hover{
    background-color: #5DE1FF;
}